USE [hastaVerileri]
GO
/****** Object:  Table [dbo].[Hastalar]    Script Date: 13.01.2026 17:51:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hastalar](
	[HastaID] [int] IDENTITY(1,1) NOT NULL,
	[SiraNo] [int] NOT NULL,
	[TCKimlikNo] [nchar](11) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[DogumTarihi] [date] NOT NULL,
	[Yas]  AS (datediff(year,[DogumTarihi],getdate())),
	[EngelDurumu] [bit] NOT NULL,
	[Durum] [bit] NOT NULL,
	[KayitSaati] [datetime] NULL,
	[CagrilmaSaati] [datetime] NULL,
 CONSTRAINT [PK_Hastalarr] PRIMARY KEY CLUSTERED 
(
	[HastaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Hastalar] ON 

INSERT [dbo].[Hastalar] ([HastaID], [SiraNo], [TCKimlikNo], [Ad], [Soyad], [DogumTarihi], [EngelDurumu], [Durum], [KayitSaati], [CagrilmaSaati]) VALUES (1, 100, N'11111111111', N'Emir Asaf', N'BAŞ', CAST(N'2005-05-31' AS Date), 0, 1, CAST(N'2026-01-13T17:08:00.913' AS DateTime), CAST(N'2026-01-13T17:10:15.987' AS DateTime))
INSERT [dbo].[Hastalar] ([HastaID], [SiraNo], [TCKimlikNo], [Ad], [Soyad], [DogumTarihi], [EngelDurumu], [Durum], [KayitSaati], [CagrilmaSaati]) VALUES (2, 101, N'11111111112', N'Ramazan', N'AY', CAST(N'2002-11-16' AS Date), 1, 1, CAST(N'2026-01-13T17:08:30.340' AS DateTime), CAST(N'2026-01-13T17:09:51.977' AS DateTime))
INSERT [dbo].[Hastalar] ([HastaID], [SiraNo], [TCKimlikNo], [Ad], [Soyad], [DogumTarihi], [EngelDurumu], [Durum], [KayitSaati], [CagrilmaSaati]) VALUES (3, 102, N'11111111113', N'Halil', N'YILMAZ', CAST(N'2006-07-21' AS Date), 1, 1, CAST(N'2026-01-13T17:09:03.363' AS DateTime), CAST(N'2026-01-13T17:10:05.823' AS DateTime))
SET IDENTITY_INSERT [dbo].[Hastalar] OFF
GO
ALTER TABLE [dbo].[Hastalar] ADD  CONSTRAINT [DF_Hastalarr_Durum]  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[Hastalar] ADD  CONSTRAINT [DF__Hastalarr__Kayit__5BE2A6F2]  DEFAULT (getdate()) FOR [KayitSaati]
GO
